html{
    scroll-behavior: smooth;
}

/* To do: find custom fonts */

body{
    background: #000000 url(/images/background-blur-clean-531880.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

* {
    box-sizing: border-box;
}
#mySidenav {
    height: 100%; 
    width: 0rem; 
    position: fixed; 
    z-index: 3;
    top: 0; 
    left: 0;
    background-color: rgb(100, 100, 100); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}


#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d1d1d1;
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
}


#mySidenav a:hover {
    color: #f1f1f1;
}


#mySidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/
#main {
    transition: margin-left .5s;
    
}


@media screen and (max-height: 450px) {
    #mySidenav {padding-top: 15px;}
    #mySidenav a {font-size: 18px;}
}
 
  article{
      border-radius: 1rem;
      padding: .5rem;
      width: 60rem;
      min-height: 30rem;
      background: rgba(163, 194, 204, 0.425);
      display: grid;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
  }
  
  header{
      line-height: 3px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      font-family: Impact;
      color: rgba(255, 255, 255, 0.644);
      text-shadow: #201b1b;
      font-size: 30px;
      
      text-align: center;
      background: rgba(0, 0, 0, 0.336) url();
      background-repeat: no-repeat;
      height: 7rem;
      z-index: -1;
  }


  section{
      padding-top: 7rem;
      font-family: sans-serif;
      text-shadow: darkslategray;
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 20px;
  }
  #aboutme{
      vertical-align: top;
      font-family: sans-serif;
      background: rgba(163, 194, 204, 0.425);
      border-radius: 1rem;
      padding: 1rem; 
  }

footer {
    font-family: Impact;
    background-color: #0000008c;
    padding: 10px;
    text-align: center;
    bottom: 0;
    color: white;
}
button{
    background-color: rgb(136, 136, 136);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: fixed;
}

img{
    vertical-align: text-bottom;
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}
a{
    text-decoration: none;
}
